body {
    margin: 0;
    background-image: url(assets/day-bg.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'chewy',sans-serif;
}
.card {
    background: rgba(100, 87, 196, 0.95);
    border-radius: 20px;
    text-align: center;
    width: 350px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);        
    backdrop-filter: blur(8px);
}
.header {
    background-color: rgb(172, 216, 255);
    padding: 10px;
    border-radius: 20px 20px 0 0;
    margin-bottom: 20px;
    border-bottom: 2px solid #1b1b1b;
}
.header h1 {
    margin: 5px;
    font-size: 22px;
}
.search-box {
    display: flex;
    justify-content: center;
    gap: 8px;
}
.search-box input {
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.search-box button {
    padding: 10px 12px;
}

.search-box button:hover {
    transform: scale(1.05);
}
.weather-info {
    margin-top: 20px;
}
.weather-info h3 {
    margin: 0;
}
